#examples {
    height: 100vh;
    background-color: var(--beige-color);
    padding-top: 30px;
}

.div-content {
    width: 90vw;
    margin: 0 auto;
}

.title-section {
    font-weight: bold;
    background-color: var(--brown-color);
    color: var(--white-color);
    width: 140px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
}

.div-examp {
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: 50px auto 0 auto;
    height: fit-content;
}

.box-examp {
    flex-direction: column;
    width: 360px;
    height: fit-content;
    align-items: center;
    overflow-y: hidden;
}

.text-examp {
    background-color: var(--white-color);
    border-radius: 15px;
    width: 360px;
    height: 373px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding: 25px 25px;
    position: relative;
}

.text-examp p {
    padding-bottom: 20px;
}

.text-examp::-webkit-scrollbar {
    width: 5px;
}
.text-examp::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    margin: 10px 0;
}
.text-examp::-webkit-scrollbar-thumb {
    background: var(--brown-color);
    border-radius: 10px;
}

.div-examp .box-examp:nth-child(1) .text-examp {
    font-size: 1em;
}
.div-examp .box-examp:nth-child(2) .text-examp {
    font-size: 0.9em;
    line-height: 1.8em;
}
.div-examp .box-examp:nth-child(3) .text-examp {
    font-size: 0.9em;
    line-height: 1.4em;
}

.btn-copy-div {
    position: absolute;
    height: 100%;
    top: 0;
    right: 6px;
}

.btn-copy-examp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 20px;
    height: 20px;
    top: -15px;
    background-color: #00000000;
    border-radius: 50%;
    cursor: pointer;
}
.btn-copy-examp:hover {
    background-color: #0000001d;
}
.btn-copy-examp img {
    width: 12.5px;
    opacity: 0.7;
}

.only-txt-ori-exp {
    display: block;
}
.only-txt-trans-exp {
    display: none;
}

.box-examp button {
    width: 150px;
    height: 30px;
    color: var(--white-color);;
    background-color: var(--green-dark-color);
    border: 0;
    border-radius: 5px;
    font-family: Happy Monkey, Helvetica, sans-serif;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}
.box-examp button:hover {
    background-color: var(--green-light-color);
}

