@media only screen and (max-width: 1025px) {
    
    /* PRESENTATION SECTION */
    #presentation #image-cebolinha img {
        height: 125px;
    }

    /* EXAMPLES SECTION */
    .box-examp {
        width: 290px;
    }
    .text-examp {
        width: 290px;
        height: 320px;
    }
    .div-examp .box-examp:nth-child(1) .text-examp {
        font-size: 0.90em;
    }
    .div-examp .box-examp:nth-child(2) .text-examp {
        font-size: 0.85em;
        line-height: 1.4em;
    }
    .div-examp .box-examp:nth-child(3) .text-examp {
        font-size: 0.86em;
    }
    .box-examp:nth-child(3) .btn-copy-div {
        height: 180%;
    }

    /* CEBOLES SECTION */
    .main-text {
        margin: 35px auto 0 auto;
    }
    .main-text h2 {
        font-size: 1.65em;
    }
    .ceboles-content {
        margin-top: 45px;
    }
    .ceb-exp-title {
        font-size: 0.92em;
        margin-bottom: 25px;
    }
    .ceb-exp-text li {
        font-size: .82em;
        margin-top: 18.5px;
    }
    .img-sansao img {
        width: 40px;
    }
    .ceboles-challenge {
        width: 45%;
        padding: 15px 20px;
    }
    .challenge-title {
        font-size: 1.1em;
    }
    .challenge-subtitle {
        margin-bottom: 5px;
    }
    .challenge-text {
        font-size: 0.9em;
    }

    /* CEBOLINHA SECTION */
    .img-cebolinha img {
        height: 180px;
    }
    .balloon img {
        width: 220px;
    }
    .text-balloon {
        font-size: 0.95em;
        top: 34px;
        margin-left: 39px;
        margin-right: 24px;
    }
}

@media only screen and (max-width: 768px) {
    
    /* PRESENTATION SECTION */
    #presentation {
        height: 100dvh;
    }
    #presentation h1 {
        font-size: 1.6em;
    }
    #presentation header nav ul li {
        font-size: 0.9em;
    }
    #presentation #nav-options p {
        font-size: 1em;
        padding: 0 20px;
    }

    /* EXAMPLES SECTION */
    .title-section {
        width: 130px;
        height: 45px;
        font-size: 0.90em;
    }
    .box-examp {
        width: 220px;
    }
    .text-examp {
        width: 220px;
        height: 320px;
    }
    .div-examp .box-examp:nth-child(1) .text-examp {
        font-size: 0.85em;
    }
    .div-examp .box-examp:nth-child(2) .text-examp {
        font-size: 0.85em;
    }
    .div-examp .box-examp:nth-child(3) .text-examp {
        font-size: 0.85em;
    }
    .box-examp:nth-child(1) .btn-copy-div {
        height: 180%;
    }
    .box-examp:nth-child(3) .btn-copy-div {
        height: 190%;
    }
    .box-examp button {
        width: 120px;
        height: 25px;
        font-size: 0.90em;
    }

    /* CEBOLES SECTION */
    .main-text h2 {
        font-size: 1.35em;
    }    
    .ceb-exp-title {
        font-size: 0.85em;
        margin-bottom: 25px;
    }
    .ceboles-challenge {
        width: 60%;
        margin: 0 0 0 auto;
        padding: 15px 20px;
    }
    .img-sansao {
        margin: 10px auto 0 auto;
    }
}

@media only screen and (max-width: 600px) { 
    
    /* PRESENTATION SECTION */
    #presentation {
        height: 100vh;
    }
    #presentation h1 {
        font-size: 1.35em;
    }
    #presentation #h1-text {
        margin-top: 50px;
    }
    #presentation #container-text {
        height: 40%;
        margin-top: 70px;
    }
    #presentation #nav-options {
        height: 45px;
    }
    #presentation .languages {
        justify-content: center;
    }
    #presentation .languages.translated {
        display: none;
    }
    #presentation .lang-mobile {
        display: flex;
        justify-content: center;
    }
    #presentation #box-texts {
        flex-direction: column;
        height: 100%;
    }
    #presentation #box-texts>div {
        height: 100%;
    }
    #presentation #box-texts>div:first-child {
        border-right: 0px solid #2e2e2e47;
        border-bottom: 1px solid #2e2e2e47;
    }
    #presentation textarea {
        width: 100%;
        height: 100%;
        font-size: 0.95em;
    }
    #presentation #text-original {
        border-radius: 0 0 0 0;
    }
    #presentation #text-translated {
        border-radius: 0 0 7.5px 7.5px;
    }
    #presentation #btn-translate button {
        width: 185px;
        height: 35px;
    }
    #presentation #image-cebolinha {
        flex-direction: row;
        justify-content: center;
        margin: 40px auto 0 auto;
    }
    
    /* EXAMPLES SECTION */
    #examples {
        height: fit-content;
    }
    .div-examp {
        flex-direction: column;
    }
    .box-examp {
        width: 320px;
        margin-bottom: 50px;
    }
    .text-examp {
        width: 320px;
        height: 420px;
        padding: 35px 25px;
    }
    .btn-copy-examp {
        top: -22.5px;
    }
    .box-examp:nth-child(1) .btn-copy-div {
        height: 118.5%;
    }
    .box-examp:nth-child(3) .btn-copy-div {
        height: 155%;
    }
    .box-examp button {
        width: 200px;
        height: 30px;
    }

    /* CEBOLES SECTION */
    #ceboles {
        height: fit-content;
    }
    .main-text {
        text-align: center;
    }
    .ceboles-content {
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }
    .ceboles-explication {
        width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .img-sansao {
        order: 1;
    }
    .ceb-exp-title {
        order: 2;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .ceb-exp-text {
        order: 3;
    }
    .ceboles-challenge {
        width: 320px;
        margin: 30px auto 30px auto;
    }
    .challenge-text {
        font-size: 1em;
    }

    /* CEBOLINHA SECTION */
    #cebolinha {
        height: fit-content;
        padding: 30px;
    }
    .cebolinha-img-balloon {
        flex-direction: column-reverse;
    }
    .img-cebolinha {
        margin-top: 0;
    }
    .img-cebolinha img {
        height: 160px;
    }
    .balloon {
        margin-left: 0px;
        height: 173px;
    }
    .balloon img {
        width: 200px;
    }
    .text-balloon {
        font-size: 0.875em;
        top: 31px;
        margin-left: 31px;
        margin-right: 19px;
    }
}

@media only screen and (max-width: 380px) {
    #presentation #container-text {
        height: 35%;
        margin-top: 60px;
    }
    #presentation #image-cebolinha {
        margin: 25px auto 0 auto;
    }
}