@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Happy Monkey, Helvetica, sans-serif;
    color: #2E2E2E;
}

a {
    color: #2E2E2E;
}

.active {
    color: #b3381d;
}

/* PRESENTATION SECTION */
#presentation {
    height: 100vh;
    background-color: #FDEBE0;
}

#presentation header nav {
    display: flex;
    justify-content: flex-end;
    width: 90vw;
    margin: auto;
}

#presentation header nav ul {
    display: flex;
    margin-right: 0;
}

#presentation header nav ul li {
    list-style: none;
    padding: 15px 15px;
}

#presentation #h1-text {
    width: 90vw;
    margin: 30px auto 0 auto;
}

#presentation h1 {
    font-size: 2em;
    font-weight: normal;
}

#presentation #container-text {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    height: 35%;
}

#presentation #nav-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 25%;
    margin: 0 auto;
    background-color: #FCFCFC;
    border-bottom: 1px solid #2e2e2e47;
    border-radius: 7.5px 7.5px 0 0;
}

#presentation #nav-options p {
    font-size: 1.15em;
    padding: 0 25px;
}

#presentation #eyes-cebolinha {
    display: flex;
    align-items: center;
}

#presentation #eyes-cebolinha #eyes-div {
    position: relative;
}

#presentation #eyes-cebolinha #eyes-white {
    width: 50px;
    margin: auto;
    display: block;
}

#presentation #eyes-cebolinha #eyes-black-div {
    width: 88%;
    height: 83%;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 9.6%;
    left: 6%;
}

#presentation #eyes-cebolinha #eyes-black {
    width: 73%;
    margin: auto;
    display: block;
    position: absolute;
    top: 10.13px;
    left: 13.5%;
}

#presentation .languages {
    display: flex;
    width: 50%;
    overflow: hidden;
}

#presentation #box-texts {
    margin: 0 auto;
    display: flex;
    width: 90vw;
    height: 75%;
}

#presentation #box-texts>div {
    width: 100%;
}

#presentation #box-texts>div:first-child {
    border-right: 1px solid #2e2e2e47;
    position: relative;
}

#presentation textarea {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.10em;
    color: black;
    padding: 15px 18px;
    border: 0;
    background-color: #FCFCFC;
    resize: none;
}

#presentation textarea:focus {
    outline: none;
}

#presentation textarea:disabled {
    color: black;
    cursor: text;
}

#presentation #text-original {
    border-radius: 0 0 0 7.5px;
}

#presentation #text-translated {
    border-radius: 0 0 7.5px 0;
}

#presentation #btn-delete-text {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 6px;
    text-align: center;
    color: #525252;
    background-color: #00000000;
    border-radius: 50%;
    cursor: pointer;
}

#presentation #btn-delete-text:hover {
    background-color: #0000001d;
}

#presentation #btn-translate {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#presentation #btn-translate button {
    width: 130px;
    height: 30px;
    color: #FCFCFC;
    background-color: #50ba91;
    border: 0;
    border-radius: 5px;
    font-family: Happy Monkey, Helvetica, sans-serif;
    font-size: 1em;
    cursor: pointer;
}

#presentation #image-cebolinha {
    display: flex;
    flex-direction: row-reverse;
    width: 90vw;
    margin: -30px auto;
}

#presentation #image-cebolinha img {
    height: 150px;
}